.sidebar {
  @apply bg-light-grey fixed min-h-screen text-semi-normal transition-all;
  top: 0;
  left: 0;
  z-index: 1;
  &.opened {
    width: 230px;
  }
  &.closed {
    width: 100px
  }
  .logo {
    @apply text-center pt-20px pb-30px;
    & > svg {
      @apply mx-auto;
    }
  }
  .footer {
    @apply text-center py-20px text-placeholder absolute w-full;
    bottom: 0;
  }
}